extends ../layout

block content
  div
    h1 Info for #{record.title}
  div
    h3= record.title
    h3= record.author
  div
    a(href='/library/' + record._id + '/edit') Edit this book
  div
    a(href='/library') Go Back
