extends ../layout

block content
  div.header
    h1 Welcome to the Mailing List Manager
  div
    a(href='/list/new') Click here to add a new member
  div
    if(data)
      ul
        each person in data
          li 
            a(href='/list/' + person._id) #{person.firstName} #{person.lastName}
