div
  label(for='title') Title:
  input(type='text' id='title' name='title' value=(record)? '#{record.title}':'')
div
  label(for='author') Author:
  input(type='text' id='author' name='author' value=(record)? '#{record.author}':'')
